deals_router_whapi_ollama.json
{
  "name": "Deals Router (Whapi → Ollama → Channels)",
  "active": false,
  "nodes": [
    {
      "id": "1",
      "name": "Deals Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [260, 300],
      "parameters": {
        "httpMethod": "POST",
        "path": "whapi/incoming",
        "responseMode": "onReceived",
        "responseData": {
          "response": "={{ {\"ok\": true} }}",
          "responseCode": 200
        },
        "options": {
          "binaryData": false
        }
      },
      "notes": "Set this URL as the Webhook in Whapi channel settings (HTTPS)."
    },
    {
      "id": "2",
      "name": "Extract Text",
      "type": "n8n-nodes-base.function",
      "typeVersion": 2,
      "position": [520, 300],
      "parameters": {
        "functionCode": "// Normalize useful text from Whapi payload (channel post)\nconst body = items[0].json || {};\nlet text = '';\nif (body?.message?.text?.body) text = body.message.text.body;\nelse if (body?.message?.image?.caption) text = body.message.image.caption;\nelse if (body?.message?.video?.caption) text = body.message.video.caption;\nelse if (body?.message?.extendedTextMessage?.text) text = body.message.extendedTextMessage.text;\nreturn [{ json: {\n  text,\n  raw: body,\n  message_id: body?.message?.id || body?.id || null,\n  chat_id: body?.message?.chat_id || null,\n  ts: body?.message?.timestamp || Date.now()\n}}];"
      },
      "notes": "Adjust paths if your webhook payload differs; test once with Whapi's 'Check Webhook'."
    },
    {
      "id": "3",
      "name": "Classifier (Ollama)",
      "type": "n8n-nodes-base.ollama",
      "typeVersion": 1,
      "position": [780, 300],
      "parameters": {
        "mode": "chat",
        "model": "llama3.2",
        "systemMessage": "You are a strict classifier. Output one of: BEAUTY | PROTEIN | GOLD | OTHER.\nRules:\n- BEAUTY: skincare / haircare / cosmetics / beauty devices.\n- PROTEIN: supplements (whey, isolate, creatine, BCAA, EAA, pre/post-workout) or gym equipment.\n- GOLD: gold coins/bullion/sovereigns/hallmarked 24K/999/995 offers.\n- If uncertain, return OTHER.\nRespond with the label only.",
        "text": "={{$json.text}}",
        "options": {}
      },
      "credentials": {
        "ollamaApi": {
          "id": "ollama-local",
          "name": "Ollama Local"
        }
      },
      "notes": "Requires Ollama running at http://localhost:11434; n8n Ollama credentials should point there."
    },
    {
      "id": "4",
      "name": "Map Category",
      "type": "n8n-nodes-base.function",
      "typeVersion": 2,
      "position": [1040, 300],
      "parameters": {
        "functionCode": "// Parse single-word response from Ollama\nconst nodeOut = items[0].json;\n// Some n8n Ollama nodes return an array structure; normalize common cases\nlet label = nodeOut?.data?.[0]?.content?.[0]?.text || nodeOut?.answer || nodeOut?.response || '';\nlabel = (label || '').trim().toUpperCase();\nconst allowed = new Set(['BEAUTY','PROTEIN','GOLD','OTHER']);\nif (!allowed.has(label)) label = 'OTHER';\nreturn [{ json: { ...$items(0, 1)[0].json, // Bring in Extract Text data (input 1 is previous node result); fallback below if needed\n  category: label } }];"
      },
      "notes": "Brings forward text/message_id and sets a 'category' field."
    },
    {
      "id": "5",
      "name": "Route by Category",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 2,
      "position": [1300, 300],
      "parameters": {
        "value1": "={{$json.category}}",
        "rules": [
          { "operation": "equal", "value2": "BEAUTY" },
          { "operation": "equal", "value2": "GOLD" },
          { "operation": "equal", "value2": "PROTEIN" }
        ]
      },
      "notes": "Output 0=BEAUTY, 1=GOLD, 2=PROTEIN, 3=OTHER (fallback)."
    },
    {
      "id": "6a",
      "name": "Set → Beauty Dest",
      "type": "n8n-nodes-base.set",
      "typeVersion": 2,
      "position": [1540, 160],
      "parameters": {
        "keepOnlySet": false,
        "values": { "string": [{ "name": "posted_to", "value": "120363406771002221@newsletter" }] }
      }
    },
    {
      "id": "6b",
      "name": "Set → Gold Dest",
      "type": "n8n-nodes-base.set",
      "typeVersion": 2,
      "position": [1540, 300],
      "parameters": {
        "keepOnlySet": false,
        "values": { "string": [{ "name": "posted_to", "value": "120363408105589243@newsletter" }] }
      }
    },
    {
      "id": "6c",
      "name": "Set → Protein Dest",
      "type": "n8n-nodes-base.set",
      "typeVersion": 2,
      "position": [1540, 440],
      "parameters": {
        "keepOnlySet": false,
        "values": { "string": [{ "name": "posted_to", "value": "120363408105589000@newsletter" }] }
      }
    },
    {
      "id": "6d",
      "name": "Set → OTHER Dest",
      "type": "n8n-nodes-base.set",
      "typeVersion": 2,
      "position": [1540, 580],
      "parameters": {
        "keepOnlySet": false,
        "values": { "string": [{ "name": "posted_to", "value": "NONE" }] }
      }
    },
    {
      "id": "7a",
      "name": "Send → Beauty Channel",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [1780, 160],
      "parameters": {
        "method": "POST",
        "url": "https://gate.whapi.cloud/messages/text",
        "sendBody": true,
        "jsonParameters": true,
        "options": {
          "headers": {
            "Authorization": "=Bearer {{$env.WHAPI_TOKEN}}",
            "Content-Type": "application/json"
          }
        },
        "bodyParametersJson": "={{ { to: $json.posted_to, body: $json.text, typing_time: 0 } }}"
      },
      "notes": "Whapi /messages/text; 'to' must be a Channel ID ending with @newsletter."
    },
    {
      "id": "7b",
      "name": "Send → Gold Channel",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [1780, 300],
      "parameters": {
        "method": "POST",
        "url": "https://gate.whapi.cloud/messages/text",
        "sendBody": true,
        "jsonParameters": true,
        "options": {
          "headers": {
            "Authorization": "=Bearer {{$env.WHAPI_TOKEN}}",
            "Content-Type": "application/json"
          }
        },
        "bodyParametersJson": "={{ { to: $json.posted_to, body: $json.text, typing_time: 0 } }}"
      }
    },
    {
      "id": "7c",
      "name": "Send → Protein Channel",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [1780, 440],
      "parameters": {
        "method": "POST",
        "url": "https://gate.whapi.cloud/messages/text",
        "sendBody": true,
        "jsonParameters": true,
        "options": {
          "headers": {
            "Authorization": "=Bearer {{$env.WHAPI_TOKEN}}",
            "Content-Type": "application/json"
          }
        },
        "bodyParametersJson": "={{ { to: $json.posted_to, body: $json.text, typing_time: 0 } }}"
      }
    },
    {
      "id": "8",
      "name": "Log → CSV (optional)",
      "type": "n8n-nodes-base.spreadsheetFile",
      "typeVersion": 1,
      "position": [2020, 300],
      "parameters": {
        "operation": "append",
        "fileFormat": "csv",
        "options": { "headerRow": true },
        "columns": [
          { "column": "date", "value": "={{$now}}" },
          { "column": "message_id", "value": "={{$items(\"Extract Text\", 0, 0).json.message_id}}" },
          { "column": "source_chat", "value": "120363297399368172@newsletter" },
          { "column": "text", "value": "={{$items(\"Extract Text\", 0, 0).json.text}}" },
          { "column": "category", "value": "={{$items(\"Map Category\", 0, 0).json.category}}" },
          { "column": "posted_to", "value": "={{$json.posted_to}}" }
        ],
        "fileName": "deals_log.csv"
      },
      "notes": "Writes to a local CSV (free). You can replace with Google Sheets later (add credentials).",
      "disabled": true
    }
  ],
  "connections": {
    "Deals Webhook": { "main": [[{ "node": "Extract Text", "type": "main", "index": 0 }]] },
    "Extract Text": { "main": [[{ "node": "Classifier (Ollama)", "type": "main", "index": 0 }]] },
    "Classifier (Ollama)": { "main": [[{ "node": "Map Category", "type": "main", "index": 0 }]] },
    "Map Category": { "main": [[{ "node": "Route by Category", "type": "main", "index": 0 }]] },
    "Route by Category": {
      "main": [
        [{ "node": "Set → Beauty Dest", "type": "main", "index": 0 }],
        [{ "node": "Set → Gold Dest", "type": "main", "index": 0 }],
        [{ "node": "Set → Protein Dest", "type": "main", "index": 0 }],
        [{ "node": "Set → OTHER Dest", "type": "main", "index": 0 }]
      ]
    },
    "Set → Beauty Dest": { "main": [[{ "node": "Send → Beauty Channel", "type": "main", "index": 0 }]] },
    "Set → Gold Dest": { "main": [[{ "node": "Send → Gold Channel", "type": "main", "index": 0 }]] },
    "Set → Protein Dest": { "main": [[{ "node": "Send → Protein Channel", "type": "main", "index": 0 }]] },
    "Set → OTHER Dest": { "main": [[{ "node": "Log → CSV (optional)", "type": "main", "index": 0 }]] },
    "Send → Beauty Channel": { "main": [[{ "node": "Log → CSV (optional)", "type": "main", "index": 0 }]] },
    "Send → Gold Channel": { "main": [[{ "node": "Log → CSV (optional)", "type": "main", "index": 0 }]] },
    "Send → Protein Channel": { "main": [[{ "node": "Log → CSV (optional)", "type": "main", "index": 0 }]] }
  },
  "settings": { "executionOrder": "v1" }
}
