gold_ibja_mcx_n8n.json
{
  "name": "Daily Gold: IBJA + MCX -> Google Sheets (Free Scrape)",
  "nodes": [
    {
      "parameters": {
        "triggerTimes": [
          {
            "mode": "everyDay",
            "hour": 11,
            "minute": 5
          },
          {
            "mode": "everyDay",
            "hour": 17,
            "minute": 5
          }
        ]
      },
      "id": "Cron",
      "name": "Cron (Daily 11:05 & 17:05 IST)",
      "type": "n8n-nodes-base.cron",
      "typeVersion": 1,
      "position": [240, 220]
    },
    {
      "parameters": {},
      "id": "ManualTrigger",
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [240, 380]
    },
    {
      "parameters": {
        "keepOnlySet": true,
        "values": {
          "string": [
            {
              "name": "sheetId",
              "value": "PASTE_YOUR_SHEET_ID_HERE"
            },
            {
              "name": "sheetTab",
              "value": "GoldDaily"
            },
            {
              "name": "ibjaUrl",
              "value": "https://ibjarates.com/"
            },
            {
              "name": "mcxUrl",
              "value": "https://mcxlive.org/gold/"
            }
          ]
        }
      },
      "id": "Config",
      "name": "Config",
      "type": "n8n-nodes-base.set",
      "typeVersion": 2,
      "position": [520, 300]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{$json.ibjaUrl}}",
        "responseFormat": "string",
        "options": {
          "followRedirect": true,
          "timeout": 30000
        },
        "headerParametersUi": {
          "parameter": [
            {
              "name": "User-Agent",
              "value": "Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/120 Safari/537.36"
            },
            {
              "name": "Accept-Language",
              "value": "en-US,en;q=0.9"
            }
          ]
        }
      },
      "id": "FetchIBJA",
      "name": "Fetch IBJA HTML",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [760, 300],
      "continueOnFail": true
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const html = $json.body || '';\nconst ibja_http_status = $json.statusCode || '';\n\nfunction num(s) {\n  if (s === undefined || s === null) return '';\n  const x = String(s).replace(/[^0-9.]/g, '');\n  return x ? Number(x) : '';\n}\n\n// Session tag from IST time\nconst now = new Date();\nconst ist = new Date(now.toLocaleString('en-US', { timeZone: 'Asia/Kolkata' }));\nconst hour = ist.getHours();\nconst session = hour < 15 ? 'AM' : 'PM';\nconst pulled_at_ist = ist.toISOString().replace('Z', '+05:30');\n\nlet errors = [];\n\n// Extract the first date pattern on the page (usually the latest date shown at top)\nlet dateMatch = html.match(/\\b(\\d{2}\\/\\d{2}\\/\\d{4})\\b/);\nconst ibja_date = dateMatch ? dateMatch[1] : '';\nif (!ibja_date) errors.push('IBJA date not found');\n\n// Limit parsing to the section near today's date to avoid matching older tables\nlet section = html;\nif (ibja_date) {\n  const start = html.indexOf(ibja_date);\n  if (start !== -1) {\n    const end = html.indexOf('Previous', start);\n    section = end !== -1 ? html.slice(start, end) : html.slice(start, start + 50000);\n  }\n}\n\nfunction extractFor(purity) {\n  // Matches: Gold 999 155593 155xxx (PM may be missing early)\n  const re = new RegExp(`Gold\\\\s+${purity}\\\\s+([0-9,]+)\\\\s*([0-9,]+)?`, 'i');\n  const m = section.match(re);\n  return {\n    am: m ? num(m[1]) : '',\n    pm: m && m[2] ? num(m[2]) : ''\n  };\n}\n\nfunction extractSilver() {\n  const re = /Silver\\s+999\\s+([0-9,]+)\\s*([0-9,]+)?/i;\n  const m = section.match(re);\n  return {\n    am: m ? num(m[1]) : '',\n    pm: m && m[2] ? num(m[2]) : ''\n  };\n}\n\nconst g999 = extractFor('999');\nconst g916 = extractFor('916');\nconst s999 = extractSilver();\n\nif (g999.am === '' && g999.pm === '') errors.push('IBJA gold 999 not parsed');\nif (g916.am === '' && g916.pm === '') errors.push('IBJA gold 916 not parsed');\nif (s999.am === '' && s999.pm === '') errors.push('IBJA silver 999 not parsed');\n\nreturn [{\n  json: {\n    pulled_at_ist,\n    session,\n    ibja_date,\n    ibja_gold_999_am: g999.am,\n    ibja_gold_999_pm: g999.pm,\n    ibja_gold_916_am: g916.am,\n    ibja_gold_916_pm: g916.pm,\n    ibja_silver_999_am: s999.am,\n    ibja_silver_999_pm: s999.pm,\n    ibja_http_status,\n    errors: errors.join(' | '),\n    ibja_source: 'https://ibjarates.com/'\n  }\n}];"
      },
      "id": "ParseIBJA",
      "name": "Parse IBJA",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1000, 300]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{$json.mcxUrl}}",
        "responseFormat": "string",
        "options": {
          "followRedirect": true,
          "timeout": 30000
        },
        "headerParametersUi": {
          "parameter": [
            {
              "name": "User-Agent",
              "value": "Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/120 Safari/537.36"
            },
            {
              "name": "Accept-Language",
              "value": "en-US,en;q=0.9"
            }
          ]
        }
      },
      "id": "FetchMCX",
      "name": "Fetch MCX HTML",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [1240, 300],
      "continueOnFail": true
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const html = $json.body || '';\nconst mcx_http_status = $json.statusCode || '';\n\nfunction num(s) {\n  if (s === undefined || s === null) return '';\n  const x = String(s).replace(/[^0-9.+-]/g, '');\n  // Keep sign for change\n  if (!x) return '';\n  const n = Number(x.replace(/\\+/g, ''));\n  return Number.isFinite(n) ? n : '';\n}\n\nlet errors = ($json.errors ? [$json.errors] : []).filter(Boolean);\n\n// Contract line: \"MCX Gold 02 Apr 2026\"\nlet contract = '';\n{\n  const m = html.match(/MCX\\s+Gold\\s+([0-9]{2}\\s+[A-Za-z]{3}\\s+[0-9]{4})/i);\n  contract = m ? m[1] : '';\n}\n\nlet last = '';\n{\n  const m = html.match(/Last\\s*Trade[^0-9]*([0-9,]+)/i);\n  last = m ? num(m[1]) : '';\n}\n\nlet change = '';\nlet changePct = '';\n{\n  const m1 = html.match(/Change\\s+in\\s*%\\s*([+-]?[0-9.]+)\\s*%/i);\n  changePct = m1 ? num(m1[1]) : '';\n\n  // Often appears near \"Last Trade Change Change in %\"\n  const m2 = html.match(/Last\\s*Trade[\\s\\S]*?Change\\s*([^%\\n\\r<]*)/i);\n  if (m2) {\n    const m3 = m2[1].match(/([+-]?[0-9,]+)/);\n    change = m3 ? num(m3[1]) : '';\n  }\n}\n\nlet high = '', low = '', open = '';\n{\n  // Pattern: \"High Low Open 158,500 155,546 155,451\"\n  const m = html.match(/High\\s+Low\\s+Open\\s+([0-9,]+)\\s+([0-9,]+)\\s+([0-9,]+)/i);\n  if (m) {\n    high = num(m[1]);\n    low = num(m[2]);\n    open = num(m[3]);\n  }\n}\n\nif (last === '') errors.push('MCX last trade not parsed');\n\nreturn [{\n  json: {\n    ...$json,\n    mcx_contract: contract,\n    mcx_last: last,\n    mcx_change: change,\n    mcx_change_pct: changePct,\n    mcx_high: high,\n    mcx_low: low,\n    mcx_open: open,\n    mcx_http_status,\n    errors: errors.filter(Boolean).join(' | '),\n    mcx_source: 'https://mcxlive.org/gold/'\n  }\n}];"
      },
      "id": "ParseMCX",
      "name": "Parse MCX",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1480, 300]
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": "={{$json.sheetId}}",
        "sheetName": "={{$json.sheetTab}}",
        "columns": "autoMapInputData",
        "options": {}
      },
      "id": "AppendSheet",
      "name": "Append to Google Sheet",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [1720, 300],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "YOUR_CREDENTIAL_ID",
          "name": "YOUR_CREDENTIAL_NAME"
        }
      }
    }
  ],
  "connections": {
    "Cron (Daily 11:05 & 17:05 IST)": {
      "main": [
        [
          {
            "node": "Config",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Manual Trigger": {
      "main": [
        [
          {
            "node": "Config",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Config": {
      "main": [
        [
          {
            "node": "Fetch IBJA HTML",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch IBJA HTML": {
      "main": [
        [
          {
            "node": "Parse IBJA",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse IBJA": {
      "main": [
        [
          {
            "node": "Fetch MCX HTML",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch MCX HTML": {
      "main": [
        [
          {
            "node": "Parse MCX",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse MCX": {
      "main": [
        [
          {
            "node": "Append to Google Sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionTimeout": 3600,
    "saveExecutionProgress": true
  }
}
